.Auth {
  max-width: 1000px;
  margin: 0 auto;
  .JoinContainer {
    form {
      display: flex;
      flex-direction: column;
      input {
        font-size: 20px;
      }
      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
